body {
	height: 100vh;
}
#btn {
	background-color: rgb(215, 89, 64);
}
#signup-title {
	color: rgb(215, 89, 64);
}

main {
	padding-top: 5rem;
	background-color: #F8F9FA;
	height: 100%;
}

.form-wrapper {
	background-color: #FFFFFF;
	margin: 0 auto;
	width: 40%;
	max-width: 600px;
	padding: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	border-radius: 10px;
}

@media screen and (max-width: 700px) {
	.form-wrapper {
		width: 90%;
	}
}