main {
	background-color: #F8F9FA;
	padding-top: 1rem;
	height: 100vh;
}

#create-header {
	color: rgb(215, 89, 64);
}

.container {
	width: 500px;
	background-color: #FFFFFF;
	padding: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	border-radius: 10px;
}

.postButton{
	margin-bottom: 30px;
	background-color: rgb(215, 89, 64);
	color: white;
}

#title, .title, #body{
	margin-top: 10px;
}





