body{
	margin: 56px 0 50px 0;
}

*{
	box-sizing: border-box;
	font-family: sans-serif;
}

.page-wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

h1.title {
	color: rgb(215, 89, 64);
}

.image{
	max-width: 100%;
}

.nav-link, .navbar-brand {
	color: #F8F9FA;
}

#main-navbar, #footer {
	background-color: #E74E35;
	color: #F8F9FA;
}
#footer {
	padding: 0.8rem;
}
#footer > div {
	flex: 1;
}
#footer > div > a, #footer > div > span {
	text-decoration: none;
	color: #FFFFFF;
}

#footer > div > a:hover {
	color: rgba(0, 0, 0, 0.7);
}