body {
    background-color: rgb(214, 89, 64);
}
.my-card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 20px;
    row-gap: 20px;
}

.card.single-post {
    min-width: calc(33.33% - 20px);
}