body {
    background-color: rgb(248, 249, 250);
}

.my-card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 20px;
    row-gap: 20px;
}

.card.single-post {
    min-width: calc(33.33% - 20px);
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}