.page-wrapper.splash-page-wrapper{
	background-color: #E74E35;
	align-items: center;
	justify-content: center;
}

.image.splash-page-logo{
	width: 100%;
	max-width: 500px;
	position: absolute;
}

.nav-link, .navbar-brand, .about-footer, .contact-footer {
	color: black;
}

#main-navbar, #footer {
	background-color: #F8F9FA;
}
#footer > div > a, #footer > div > span {
	text-decoration: none;
	color: #000;
}


