<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <div th:replace="partials :: head-fragment('login')"></div>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<!--Navbar-->
<nav th:replace="partials :: navbar"></nav>

<textarea id="about_us" name="about_us" rows="4" cols="50">
    This blog was started to raise awareness about ponzi schemes our users have encountered. It is a free online platform where one can sign up and share with fellow users to create a community aimed to help those that have fallen victims to these scams.
</textarea>



<!--Footer-->
<footer th:replace="partials :: footer-fragment"></footer>
<!--Scripts-->
<div th:replace="partials :: scripts"></div>
</body>
</html>