<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="partials :: head-fragment('login')"></div>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<h1 class="text-center mt-4" id="signup-title">Log In</h1>

<div th:if="${param.error}">
  Invalid Username and Password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<form th:action="@{/login}" th:method="post" class="w-50 mx-auto">
  <div class="w-100">
    <label for="username" class="form-label">Username</label>
    <input id="username" name="username" type="text" class="form-control w-100 shadow-none">
  </div>
  <div class="w-100">
    <label for="password" class="form-label">Password</label>
    <input id="password" name="password" type="password" class="form-control w-100 shadow-none">
  </div>
  <div class="w-100 mt-4">
    <input type="submit" value="Log In" class="form-control w-100 shadow-none" id="btn">
  </div>
</form>
<footer th:replace="partials :: footer-fragment"></footer>
</body>
</html>