<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <div th:replace="partials :: head-fragment('Splash Page')"></div>
    <link rel="stylesheet" th:href="@{/css/splash_page.css}">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<div class="page-wrapper splash-page-wrapper">
    <img class="image splash-page-logo" src="./images/Rheta-1.png"/>
</div>

<footer th:replace="partials :: footer-fragment"></footer>
<div th:replace="partials :: scripts"></div>

</body>
</html>